# Node dependencies
node_modules/

# Tailwind build output
css/main.css
css/main.css.map

# macOS system files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor configs
.vscode/
.idea/
